.showProductModal {
  display: flex;
}
.hideProductModal {
  display: none !important;
}
.vapetasia-product-modal-wrapper {
  padding: 30px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dialog-lightbox-message::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dialog-lightbox-message {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
