#site-navigation-wrap, #site-navigation, #menu-main-nav-bar-menu {
  height: 80px;
  width: 100%;
  display: block;
  background: none;
}

.menu-item:hover .sub-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}