#crmWebToEntityForm tr , #crmWebToEntityForm td { 
    padding:6px;
    border-spacing:0px;
    border-width:0px;
    display: block;
    width: 100%;
    }
@media screen and (max-width: 600px) {
  #crmWebToEntityForm tr , #crmWebToEntityForm td { 
    box-sizing: border-box;
    padding-left: 20px;
    width: 100% !important;
    }
    #crmWebToEntityForm table {
    margin-left: 0 !important;
    margin-right: 0 !important;
    }
}

/* .vapetasia-button {
  background-color: #FAA500;
} */

.wholesale-heading-url {
    color: #7A7A7A;
    font-family: "rift", Montserrat;
    font-size: 35px;
    font-style: italic;
}

.wholesale-heading-phone {
  color: #FAA500; 
  font-size: 2rem;
}

a:hover {
  color: #7A7A7A!important;
  transition: color 1s ease
}

.vapetasia-button-wholesale {
  color: #FFF !important;
  align-items: center;
  justify-content: center;
  background-color: #FAA500 !important;
}

.vapetasia-button-wholesale a {
  color: #FFF !important;
  font-family:"rift",Sans-serif !important;
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 2em;
}

#wholesale-section .vapetasia-button {
  background-color: #FAA500 !important;
  font-family:"rift",Sans-serif !important;
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 2.2em;

}

.vapetasia-button-wholesale:hover {
  transform: scale(1.1);
}