.vapetasia-footer-socials {
    padding: 2px !important;
}

#footer-links a,h2 {
    font-family: Montserrat !important;
    font-style: normal;  
}

.vapetasia-heading-title {
    font-style: normal !important; 
}
.mobile-footer-top-pad {
    padding-top: 60px !important;
}