.post hr {
  border: 1px solid lightgray;
}

.post-banner {
  padding: 25px 0px 25px;
}

.post-header {
  padding: 50px 0px 20px;
}

.single-post-title {
  font-size: 34px;
  font-family: "Montserrat", sans-serif !important;
}

.author-heading {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  padding: 10px;
  justify-content: left;
}

#blog-page body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.post-sidebar,
.content {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  padding: 40px;
  line-height: 2em;
}

.post-sidebar {
  flex-grow: 1;
  min-width: 300px;
}

.post-content {
  flex-grow: 5;
  min-width: 630px;
  white-space: break-spaces;
  /*font-family: "Roboto Mono", monospace !important;*/
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

.post-sidebar ul {
  list-style-type: none;
}

.post-sidebar a:hover {
  color: var(--first-color) !important;
}

.post-sidebar hr {
  border: 0.5px solid lightgray;
}
