.post hr {
  border: 1px solid gray;
}

.post-banner {
  padding-top: 25px;
}

.post-header {
  padding: 20px 0px 20px;
}

.author-heading {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

#blog-page body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.post-sidebar,
.content {
  display: flex;
  flex-direction: column;
  /* background: #333; */
  /* color: #fff; */
  min-height: 500px;
  border-radius: 4px;
  margin: 20px;
  /* border: 1px solid #777; */
}

.post-sidebar {
  flex-grow: 1;
  min-width: 300px;
}

.post-content {
  flex-grow: 5;
  min-width: 630px;
  white-space: break-spaces;
}

.post-sidebar ul {
  list-style-type: none;
}
