/*.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
*/

.vapetasia-element-page-hero {
  background-color: #000000;
}